/* CSS for player.html */


* {
	text-align: center;
}


body {
	text-align: center;
	background-color: #27384A;
}

.feeling {
	font-family: "Raleway-ExtraLight", "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light" Helvetica, Sans-Serif;
	text-transform: uppercase;
	color: white;
	font-size: 650%;
	padding: auto;
	margin: 10% auto auto auto;
	letter-spacing: 8px;
	position: relative;

}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #FFBF59;
}

.emotion {
	background: none;
  	border: none;
  	text-align: center;
	font-family: "Raleway-SemiBold", Sans-Serif;
	text-transform: lowercase;
	color: #FFBF59;
	font-size: 300%;
	padding: auto;
	margin: auto;
	letter-spacing: 1px;
	position: relative;

}

form {
	text-align: center;
	vertical-align: center;
	margin: 0% auto auto 6%;
}

.songArtist {
	font-family: "Raleway-Light", "HelveticaNeue-Light", "Helvetica Ultra Light" Helvetica, Sans-Serif;
	text-transform: uppercase;
	color: white;
	font-size: 150%;
	padding-top: 2%;
	padding-right: 15%;
	padding-left: 15%; 
	margin: auto;
	letter-spacing: 3px;
	position: relative;
}

img {
	padding: auto;
	margin: auto;
}

.images {
	margin: auto;
	padding: auto 2% auto 2%;
}

.nextIcon {
	margin: auto;
	width: 9%;
	height: 9%;
}

.playIcon {
	width: 8%;
	height: 8%;
}

.pauseIcon {
	width: 8%;
	height: 8%;
}

.plusVolume {
	width: 7%;
	height: 7%;
}

.minusVolume {
	width: 7%;
	height: 87%;
}

.followMood {
	background: none;
	color: white;
	border: solid;
}

.bar {
	margin-top: 5%;
}

.volNumber {
	color: white;
	font-family: "Raleway-ExtraLight", Sans-Serif;
	display: inline;
}



