<header>
	<p class="feeling">I'm Feeling...</p>
	<form ng-submit="send()">
 	<input class="emotion" type="text" placeholder="{{termPlace}}" ng-model="term"></input>
  	<input style="visibility: hidden;" type="submit" value="submit"></input>
</form>
</header>
<div ng-hide="loading" class="songArtist">
	<p>{{songTitle}} - {{artist}}</p>
</div>
<i ng-show="loading" class="fa fa-cog fa-spin fa-4x white"></i>
<div class="control">
	<img ng-click="getListen()" src="icons/next.png" class="nextIcon"/>
	<img ng-show="paused" src="icons/play.png" ng-click="toggleAudio()" class="playIcon"/>
	<img ng-hide="paused" src="icons/pause.png" class="pauseIcon" ng-click="toggleAudio()" />
</div>
<button ng-click="follow()" class="followMood">Follow this mood</button>
<div class="volume">
	<img ng-click="volumeSlider(false)" src="icons/minusVolume.png" class="minusVolume"/>
	<p class="volNumber">{{volume}}</p>
	<img ng-click="volumeSlider(true)" src="icons/plusVolume.png" class="plusVolume"/>
</div>


<progressbar class="bar" animate="true" value="moving" max="100"></progressbar>


